@charset "utf-8";
*{ margin:0; padding:0; color:#333333;  font-family: font: 14px/100% arial,宋体; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,img{margin:0;padding:0; border:0}
body,button,input,select,textarea{font:12px/1.5 "宋体" ,Simsun,"Arial Unicode MS",Mingliu,Helvetica;}
h1,h2,h3,h4,h5,h6{font-size:100%;}ul,ol{list-style:none;}
ul,ol{list-style:none;}
a{ target:_blank;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color:#f08300; text-decoration:underline; }
a:active {text-decoration: none; }
.clear {clear: both;}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}
.header{ width:100%; background:url("../images/bj.png"); margin:0 auto;}      /* 后期 添加 */
.head{ width:100%; margin:0 auto; height:28px; line-height:28px; border-top:solid #cecece 1px; /*009b4d*/  border-right:solid #cecece 1px; border-left:solid #cecece 1px;  background:url("../images/header.png");  }
.head_div{ width:100%; margin:0 auto;}
.head_left{ float:left; margin-left:10px;}
.head_left a{ color:#009a44; }
.head_left a:hover{ color:#ff4800; }
.head_middle{ float:left; margin-left:10px;}
.head_middle a{ color:#009a44; }
.head_middle a:hover{ color:#ff4800; }
.head_right{ overflow:hidden; float:right; margin-right:10px; }

/* .conter{ width:100%; margin:0 auto;}   */
.top{ background:url("../images/white.png"); overflow:hidden; width:100%; height:165px; margin:0 auto; border-top:solid #cecece 1px; /*009b4d*/  border-right:solid #cecece 1px;  border-bottom:solid #cecece 1px; border-left:solid #cecece 1px; }
.date{ width:460px; height:auto;margin:0 auto;padding-top:0px;}
/* .weather{  margin-top:20px; margin-right:0 auto; } */


 /*border-right:solid #cecece 1px; border-bottom:solid #cecece 1px;  border-left:solid #cecece 1px; */
	
/* .adv1{ float:right; border:solid #cecece 1px; padding:1px; margin-top:18px;} */

/* 入驻 + 搜索栏 */
.search{ width:100%; height:80px; background:url("../images/bj.png");   margin-top:5px; float:left; }
.ruzhu{ padding:18px; float:left}
.ruzhu:hover{filter:alpha(opacity=60);opacity:0.8;}
.sea{width:60%;min-width:450px;height:auto;margin:0 auto;padding-top:5px;}
.sea_left{ width:45px; height:40px; background:#33CCFF; border-radius:8px; border:solid #33CCFF 1px; float:left; margin:0px 5px 10px 0;}
.sea_left p {/*padding:6px 0 0 11px; */ line-height:40px; text-align:center; font-size:16px; }

    .container {
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

	.searchx{ 
		width:90%; 
		min-width:390px;
		height:40px; 
		float:left; 
		margin:15px 0px 10px 20px;
	}


	.bgDiv{ 
		width:85%; 
		min-width:320px;
		height:40px; 
		float:left; 
		margin:0px 0px 10px 8px;
	}



    .search-input-text {
      border: 1px solid #2d78f4;
	  border-radius:8px;
      width: 68%;
      background: #fff;
      height: 40px;
      line-height: 30px;
      font-size: 25px;
	  float:left;
      /*padding: 0px 0px 0px 0px;*/
    }

    .search-input-button {
      width: 41px;
      height: 40px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      /* background: #9900FF; */
	  background:url(../images/search.jpg);
	  background-repeat:no-repeat;
      border: 1px  solid #BFBFBF;
	  border-radius:6px;
      /* float:right;*/
	  margin-left: 15px; 
      vertical-align: 0px;
      opacity: 0.9;
    }

    .search-input-button:hover {
      opacity:2;
      box-shadow: 5px 5px 1px #333;
      cursor: pointer;
    }
	
	.suggest {
      width:17.2%;
	  min-width:234px;
      position:absolute;
      /* top:180x; */
	  /* left:100px; */
      border: 0px solid #2d78f4;
      background:#F5F5F5;
      display: none;
    }


    .suggest ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .suggest ul li {
      padding: 3px;
      font-size: 17px;
      line-height: 25px;
      cursor: pointer;
    }

    .suggest ul li:hover {
      background-color: #e5e5e5
    }


.sea_center{ width:400px; height:40px; border:solid #009b4d 1px; float:left; margin:18px 0 0 5px; *margin:18px 0 0 5px; *float:left; }
/*.sea_center1{ *float:left; }*/
.txtSearch{ width:350px; height:28px; line-height:26px; padding-left:5px; font-size:13px; color:#aaaaaa; padding-top:2px; *padding-top:0px; }
.sea_right{ width:95px; height:32px; background:url(../images/sea_right_bj.png) repeat-x; border:solid #009b4d 1px; float:right; margin:18px 103px 0 0; font-size:14px;}
.sea_bottom{ float:left; margin:10px 5px 5px 50px;}
.sea_bottom .span1{ color:#f08300; }
.sea_bottom span{ padding-right:7px;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* 入驻 + 搜索栏 end*/

.tm-main-nav-ul { flex-flow: column; }

.tm-main-nav-container {
	position: fixed;
    width: 100%;
	top: 5px;
	right: 10px;    
    width: 200px;
    z-index: 1000;
}

.tm-main-nav { background-color: rgba(0,0,0,0.5); }

.tm-main-nav .nav-link {
	color: white;
	font-size: 1.3rem;
	padding: 15px 20px;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.tm-main-nav .nav-link.active,
.tm-main-nav .nav-link:hover,
.tm-main-nav .nav-link:focus {color: #9AC9F7;}

.wzdq{ margin-top:1px; background:url("../images/bj.png");}
.main{ width:100%; overflow:hidden; margin:0 auto; margin-top:1px;}  
.lleft{ float:left; width:1000px; overflow:hidden; border-right:solid #cecece 1px; border-bottom:solid #cecece 1px; border-left:solid #cecece 1px; margin:0 auto; }
.left{ float:left; width:1000px; overflow:hidden; }
/* 名站推荐 left1 */
.lefts{overflow:hidden; border-top:solid #cecece 1px;/*009b4d*/ background:url("../images/bj.png"); }
.lefts_top{ width:1000px; height:35px; background:url(../images/left1_top_bj.png) repeat-x; padding-left:20px; font-size:14px; font-weight:bold; border-bottom:solid #cecece 1px;}
.lefts_top span{ background:url(../images/icon1.jpg) no-repeat; padding-left:20px; line-height:35px;}
.lefts_main ul{ padding:10px 0 0px 17px; overflow:hidden; *padding:10px 0 8px 17px; }
.lefts_main ul li{ float:left; padding:7px 5px 8px 5px; }
.lefts_main ul li a{ width:90px; height:41px; float:left; }
.lefts_adv1{ border-right:solid #eee 1px; border-bottom:solid #e1e1e1 1px;}
.lefts_adv2{ border-bottom:solid #eee 1px; }
.lefts_adv3{ border-right:solid #eee 1px; border-bottom:dashed #e1e1e1 1px; }
.lefts_adv4{ border-bottom:dashed #eee 1px; }
.lefts_bottom ul{ width:982px; overflow:hidden; margin:10px 0 30px 45px; *margin:0px 1px 15px 15px;}
.lefts_bottom ul li { width:100px; float:left; padding-left:5px; font-size:14px;}
.lefts_bottom ul li a{ line-height:30px; padding-left:5px;}
.lefts_bottom ul li .af1{ background:url(../images/nav03.png) no-repeat left center; padding:2px 0 0 22px; }
.lefts_bottom ul li .af2{ background:url(../images/nav03.png) no-repeat left center; padding:2px 0 0 22px; }

/* 名站推荐 left1 end */
#sucai{width:238px; overflow:hidden; z-index:999; margin-bottom:10px; background:#fff; }
#wrap{ width:238px; }
#tab{ width:238px; height:37px; background:#f7f7f7; z-index:555; }
.cur {color:#009a44!important; line-height:37px; font-size:15px; width:118px; height:37px; text-align:center; display:block; background:#037334;}
.cur a{color:#009a44!important; line-height:37px; font-size:15px; font-weight:bold; width:118px; height:39px; text-align:center; display:block; background:#f7f7f7; bottom:0; margin-top:2px; }
#tab ul li{ float:left; width:119px; height:37px; overflow:hidden; border-right:solid #e3e3e3 1px; line-height:37px; text-align:center; font-size:15px;}
#tab ul li:hover{ float:left; width:119px; height:37px; line-height:37px; text-align:center; font-size:15px; background:#037334;}
#tab ul li a{ width:119px; height:39px;overflow:hidden; line-height:37px; text-align:center; font-size:15px; color:#666; text-decoration: none;  }
#tab ul li a:hover{ width:119px; height:39px; line-height:37px; color:#009a44!important; font-size:15px; font-weight:bold; background:#f7f7f7; margin-top:2px; text-align:center; text-decoration: none; }
#main{ width:238px;height:255px; background:#fff; }
#main2{ width:238px;height:255px; background:#fff; }
.tab-cont{ width:238px; margin:0 auto; overflow:hidden; }

/* 最新资讯 left2 */
.left2{ overflow:hidden; background-color:#fff;}
.left2 .topul { width:215px; overflow:hidden; margin:10px 0 0 12px; }
.left2 .topul li{ width:210px; float:left; padding-left:5px; font-size:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.left2 .topul li a{ background:url(../images/icon2.jpg) no-repeat 0 center; padding-left:10px; line-height:30px; }
.left2 .featureds{ width:238px; height:100px; margin-top:8px;}
.left2 .featureds li{ width:238px; height:100px; /*position:relative;*/}
.left2 .featureds a{ width:238px; height:25px; display: inline-block; text-decoration: none; cursor: pointer; outline:0px none;}
.left2 .featureds img { width:238px; height:100px;}
.left2 .featureds li a span{display: block;width: 100%;height: 24px;line-height: 26px;background-color: #000;position:relative;text-indent: 10px;top: -24px;color: #FFF;cursor: pointer;opacity: 0.8;overflow: hidden; font-size:14px; * display:none}
.left2 .texts{ width:238px; overflow:hidden; margin-top:10px;}
.left2 .texts li{ width:210px; float:left; padding-left:5px; font-size:14px; margin-left:10px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.left2 .texts li a{ background:url(../images/icon2.jpg) no-repeat 0 center; font-size:14px; padding-left:10px; line-height:30px; }
/* 焦点图特效 */
.featured{width:238px;height:100px; background:#009cff url(../orbit/loading.gif) no-repeat left center; overflow:hidden; position:absolute; z-index:111; }
.shb_featured{width:160px;height:100px; background:#009cff url(../orbit/loading.gif) no-repeat left center; overflow:hidden; position:absolute; z-index:111; float:left;}
div.orbit{width:1px;height:1px;position:relative;-moz-box-shadow:0 0 10px rgba(0,0,0,.25);-webkit-box-shadow:0 0 10px rgba(0,0,0,.25); overflow:hidden;}
div.orbit img{position:absolute;top:0;left:0; z-index:1; }
div.orbit a img{border:none;}
  /* TIMER */
div.timer{width:40px;height:40px;overflow:hidden;position:absolute;top:10px;right:10px;opacity:.6; cursor:pointer;z-index:1001;}
span.mask{display:block;width:20px;height:40px;position:absolute;top:0;right:0;z-index:2;overflow:hidden;}
span.rotator.move{left:0;}
div.timer:hover span.pause,span.pause.active,div.timer:hover span.pause.active{opacity:1;}
  /* CAPTIONS */
div.caption{ background:#262626; background:rgba(0,0,0,.7); filter:alpha(opacity=80); width:100%;z-index:1000;position:absolute;bottom:-100px;color:#FFF;padding:2px 0;}
div.caption span{ width:95%; padding:0 10px;font-size:14px;text-shadow:0px 1px 0px rgba(0,0,0,.8); margin:0; color:#f3ecea; line-height:18px; float:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.orbit-caption{display:none;}
.orbit-caption2{display:none;}
  /* DIRECTIONAL NAV */
div.orbit:hover div.slider-nav{display:block;}
div.slider-nav{display:none;}
div.slider-nav span{width:20px;height:30px;text-indent:-9999px;position:absolute;z-index:1000;top:35%;cursor:pointer;}
div.slider-nav span.right{background:url(../images/right.png);right:0; } 
div.slider-nav span.left{background:url(../images/left.png);left:0; }  
/* 焦点图特效 end */
/* 最新资讯 left2 end */



.right{ float:right; width:100%; margin-left:0px; margin-bottom:0px;}
/* 黄金段位 right1*/
.right1{ overflow:hidden; border-top:solid #cecece 1px; /*009b4d*/  border-right:solid #cecece 1px; border-bottom:solid #cecece 1px; border-left:solid #cecece 1px;  background:url("../images/white.png"); }
.right1 .gold1 { overflow:hidden; margin:8px 0 10px 50px; background:url(../images/fengexian1.jpg) no-repeat bottom; padding-bottom:10px; }
.right1 .gold1 li { font-size:20px; width:182.5px; float:left; margin:25 10px 25 11px; text-indent:inherit; }
.right1 .gold1 li a { background:url(../images/nav03.png) no-repeat left center; padding:2px 0 0 22px; }
.right1 .gold2 { overflow:hidden; margin:8px 0 5px 50px;}
.right1 .gold2 li { font-size:20px; width:282.5px; float:left; margin:25 10px 25 11px; line-height:30px;}
.right1 .gold2 li span{ color:#f08300; }
.right1 .gold3 { overflow:hidden; margin:8px 0 10px 50px;}
.right1 .gold3 li { font-size:20px; width:182.5px; float:left; margin:25 10px 25 11px; text-indent:inherit; }
.right1 .gold3 li a { background:url(../images/nav03.png) no-repeat left center; padding:2px 0 0 22px; }
/* 黄金段位 right1  end */



/* 四合一附属区域 */
.fushu{ width:1000px; height:170px; overflow:hidden; border:solid #cecece 1px; background:#fff; margin-top:10px;}
.fushu ul{ padding:10px 0 10px 40px;}
.fushu ul li{ float:left; width:220px; height:27px; color:#cecece; margin-right:22px; line-height:27px; *line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.fushu ul li a:hover { color:#f08300;}
.fushu ul li .fsa1{ font-size:14px; color:#009a44; padding-right:3px;}
.fushu ul li .fsa2{ font-size:14px; color:#333; padding-left:3px;}
/* 四合一附属区域 end */



/* 网底 footer */
.footer{ width:100%; overflow:hidden; margin:0 auto; border-top:solid #cecece 1px; /*009b4d*/  border-right:solid #cecece 1px; border-bottom:solid #cecece 1px; border-left:solid #cecece 1px; background:url(../images/bj.png); }
/* .lleft{ float:left; width:1000px; overflow:hidden; border-right:solid #cecece 1px; border-bottom:solid #cecece 1px; border-left:solid #cecece 1px; margin-bottom:0px; } */

.footer_nav{ width:auto; height:30px; line-height:45px; margin:0 auto; text-align:center}
.footer_nav a { font-size:14px; }
.fengexian{ height:1px; background:url(../images/fengexian1.jpg) no-repeat center;}
.statement { width:auto; margin:0 auto; text-align:center; line-height:22px; padding:8px 75px 0 75px; } 
.copyright{ width:auto; text-align:center; font-family:Arial; line-height:25px;}
/* 网底 footer end */

/* 快捷方式 + 返回顶部 shortcut */
.shortcut{ width:94px; height:106px; position:fixed; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,100)||200)-(parseInt(this.currentStyle.marginBottom,100)||200))); left:50%; margin-left:510px; bottom:33%; background-repeat:no-repeat; }
.shortcut ul { width:84px; overflow:hidden; }
.shortcut ul li{ width:82px; height:23px; line-height:25px; *line-height:24px; border:solid #cecece 1px; text-align:center; *margin-bottom:8px;}
.shortcut ul li:hover{ background:#fff3df; }
.shortcut ul .shuxian{ width:50px; height:8px; margin:0 auto; border-left:solid #cecece 1px; border-right:solid #cecece 1px; *margin-top:0px;}
.shortcut a{ display:block; width:84px;overflow:hidden; cursor:pointer;}
.shortcut .top{background-position:0 0px;height:22px}
.shortcut .feedback{background-position:0 -22px;height:32px}
.shortcut .bottom{background-position:0 -55px;height:22px;}
.shortcut .top:hover{background-position:-38px -0px}
.shortcut .feedback:hover{background-position:-38px -22px}
.shortcut .bottom:hover{background-position:-38px -55px}
/* 快捷方式 + 返回顶部 shortcut end */



/*----------------------------------------------------------------  以下为各子页样式  ------------------------------------------------------------------------*/



/* 推荐商家 */
.search_left{ width:238px; float:left; overflow:hidden; border-top:solid #009b4d 2px; border-right:solid #cecece 1px ; border-bottom:solid #cecece 1px; border-left:solid #cecece 1px; margin-bottom:20px; background-color:#fffbf8; }
.sea_left_top{ width:220px; height:35px; background:url(../images/left1_top_bj.png) repeat-x; padding-left:20px; font-size:14px; font-weight:bold; border-bottom:solid #cecece 1px; }
.sea_left_top span{ background:url(../images/icon1.jpg) no-repeat; padding-left:20px; line-height:35px; }
.search_left ul { width:210px; overflow:hidden; margin:8px 0 5px 12px;}
.search_left li { width:210px; float:left; padding-left:5px; font-size:13px; }
.search_left li a{ background:url(../images/icon2.jpg) no-repeat 0 center; line-height:27px; padding-left:10px;}
/* 推荐商家 end */

/* 搜索结果内容显示区 */
.search_right{ float:right; width:748px; overflow:hidden; margin-left:10px;  border-top:solid #009b4d 2px; }
.sea_rig_top{ background:#f9f9f9; height:35px; line-height:35px; z-index:1;  border-left:solid #cecece 1px;  border-right:solid #cecece 1px; border-bottom:solid #cecece 1px;}
.sea_rig_top p{ z-index:9; padding-left:10px; font-size:14px; }
.sea_rig_top p span{ color:#f08300; font-weight:bold; margin:0 3px; }
.sea_icon{ width:14px; height:14px; background:url(../images/fangdajing.png) no-repeat; float:left; margin:10px 5px 0 10px; }
.search_right .ul_one{ padding:15px 0 0 15px; float:left; background:#fefdfd; border-bottom:solid #f1f1f1 1px;}
.search_right .ul_two{ padding:15px 0 0 15px; float:left; background:#f9f9f9; border-bottom:solid #f1f1f1 1px;}
.search_right ul li{ width:345px; float:left; margin:0 15px 10px 0; padding:2px; *margin:0 15px 10px 0; overflow:hidden;}
.search_right ul li h4{ font-size:14px; font-weight:bold; padding-bottom:3px;}
.search_right ul li p{ line-height:25px; color:#666; }
.leibie{ color:#666;}
.beizhu{ color:#666;}
  /* 翻页 */
.scott { padding-bottom:5px; text-align:center; margin:0 auto; margin:25px 0 20px 0;}
.scott a { padding:5px 10px 5px 10px;border: #ddd 1px solid; COLOR: #333333; margin-right: 10px; text-decoration:none; background-color:#fff;}
.scott a:hover {COLOR: #fff; background-color:#579658; target:_parent}
.scott span.current { padding:6px 10px 6px 10px; font-weight:bold;COLOR: #fff; margin-right: 10px; background-color:#579658}
.scott span.disabled {border-right: #f3f3f3 1px solid; padding:2px 5px 2px 5px;border-top: #f3f3f3 1px solid;border-left: #f3f3f3 1px solid; COLOR: #ccc; margin-right: 2px; border-bottom:#f3f3f3 1px solid}
  /* 翻页 end */
/* 搜索结果内容显示区 end */

/* 子页返回顶部 */
.shortcut_search{ width:94px; position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));right:90px;bottom:17%; background-repeat:no-repeat; }
.shortcut_search a { width:60px; height:60px; background:url(../images/shortcut01.jpg) no-repeat; display:block; width:60px; /*overflow:hidden;*/ position:absolute; cursor:pointer;  -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; }
.shortcut_search a:hover{ background-position:-60px 0;}
/* 子页返回顶部 end */


body,html{margin:0px;padding:0px;background:#FFFFFF;}	








